body{
    background-color: #0D0D0D;
}

.movie-title{
    font-size: 3rem;
}

.movie-info{
    font-size: 1rem;
    padding: 0.5rem;
    background-color: rgb(30, 38, 38);
    border-radius: 5px;
    margin-right: 1rem;
}

.div-spacing{
    margin-bottom: 1rem;
}

.movie-page-position{
    position: absolute;
    top: 20%;

    width: 100%;
}

.button-div{
    margin-bottom: 2rem;
}
.button-div button{
    width: 100%;
    background-color: #FC7417;
    color: white;

    border-radius: 10px;
    padding: 1rem 0;
}

.button-div span{
    color: white;
}

.position-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media all and (max-width: 1700px) {
    .movie-image{
        width: 400px;
        height: 600px;
    }

    .movie-card{
        margin: 0 15rem;
    }
}

@media all and (max-width: 1450px) {
    .movie-image{
        width: 300px;
        height: 400px;
    }

    .movie-card{
        margin: 0 10rem;
    }
}

@media all and (max-width: 1100px) {
    .movie-image{
        width: 300px;
        height: 400px;
    }

    .movie-card{
        display: block;
        margin: 0 5rem;
    }

    .movie-page-position{
        position: absolute;
        top: 20%;
        left: 0;
        transform: none;
    }
    
    .position-div{
        display: block;
        text-align: center;
    }

    .actor-img{
        width: 125px!important;
        height: 170px!important;
    }

    .text-div{
        padding: 0!important;
    }

    .button-div button{
        width: 350px;
        margin-top: 2rem;
    }
}

@media all and (max-width: 700px){
    .text-div{
        text-align: center;
    }

    .div-spacing{
        justify-content: center;
    }

    .actor-div-img{
        display: block!important;
    }

    .button-div button{
        width: 250px;
        margin-top: 2rem;
    }
}

@media all and (max-width: 500px){
    .movie-image{
        width: 250px;
        height: 350px;
    }
}

@media all and (max-width: 500px){
    .movie-image{
        width: 200px;
        height: 300px;
    }

    .movie-page-position .movie-card{
        margin: 0 2rem;
    }
}